<?xml version='1.0' encoding='UTF-8'?>
<hudson>
    <disabledAdministrativeMonitors/>
    <version>2.33</version>
    <numExecutors>2</numExecutors>
    <mode>NORMAL</mode>
    <useSecurity>true</useSecurity>
    <authorizationStrategy class="hudson.security.AuthorizationStrategy$Unsecured"/>
    <securityRealm class="hudson.security.SecurityRealm$None"/>
    <disableRememberMe>false</disableRememberMe>
    <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy"/>
    <workspaceDir>${ITEM_ROOTDIR}/workspace</workspaceDir>
    <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
    <jdks/>
    <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
    <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
    <clouds>
        <com.dubture.jenkins.digitalocean.Cloud plugin="digitalocean-plugin@0.12">
            <name>Digital</name>
            <authToken>d2db2e50d23937890ac3c82b351a3d5dddcfe6f1c9b1068aa3df427a9ea82755</authToken>
            <sshKeyId>4627300</sshKeyId>
<privateKey>
-----BEGIN RSA PRIVATE KEY-----
MIIJKAIBAAKCAgEAqJIhT8sMNXGnROTbjAt0/IHcimJ+CkDAE/y7d6r9Pl3vJzdd
klvcZl56BM/HczGzJr4BhPY/RYVKYH/fPEwB66ir0OeNr7T2MmmYCvwoZVWY5LVc
NpAAYuMD8NwpJLM8VNSq5+E8W7rp8UzrM1u6glkicgyRJOR5HYW4rbxsmXizn8l1
p0nE9y6E3oiFx9xFxTLC4Qi5YlrXWL7fc5u8+mBfGgMV0TstOvyG7cqT7jM6sr+1
X9nqmG4IE8do6i7j77e3Lke69lG4HwHeJxqRJTddjAfEm/WikBhSb9q59/fbW54t
PF6NLd3m6pYGcBFzQvYwUcsuJqnRy5eIIgPw0f7BLOEZ1BQctV8lZEasQxzbprQl
bTocUp4IHOJ4VDjKkmangZ1FkUFsoDiuoK10yZeOziBsHzgCxRWEv7GJ6vHr3Pdo
cBqxWEEOHNj8UGZgI5vOi9MeEiqzp0ElJW9G8srsjzH/zey4TJi/YATDLvUXylMY
GBz0v5bvZsnqfbze9xsZlOb5EnlriyBAaTmESzI6pPbbX4V8QKMZKdTtz4sQiUqg
pPf9/NP17Uk7CVqsa/kSyi1QaJksuZnh1iG4zD4XF2VDpj1JhTQmYXzc4BRGHC7H
bn5ne13kg7Rv9La3U8bbzimPpHHNDYQdS863rys73OfxVJ//j763B1qvUZMCAwEA
AQKCAgEApl8jdYdnU1AK0No3PW8JVTYuHn66+w+RA6kKtT8TlnxLTx87wPnc+0P/
lcQki7LfqDsbcMlBBTJaiAdsoiw6MQZWHWaL1oD6BCNnpl/c1ra2ofPFQSy61N5N
w2jnSouD3g3PZ/BLDBXcUwWhlRzRZVjnwDxa/FhqmRKjhQVVAdu5HNlOv371YSiO
hrujne/vBIPnBwb/QO17YOFx1L4+s7Zt5lRpMgn/yBn4abTob84r/sNrFWEUQsFG
Q48qIweIe82Mg6bUBcv9tsy3H0z/OAX+0/fOukai3SjEJBVyOiRsYW4qI00GdeBu
ydSsIet3IP2uDuxDbnFo2FGEUF4nTODdpoxTCcJZcVmIw6OX+PxsgP5bRS0x3ybl
5ZxEYYIFAQngObEZV/LwfTRrFoycmvBA1BnC+VDvqvqkMW1J7+CREedeRJH/vIP7
JCzLWRRB1uPsY4r89K8y8jVztR0crhiJUO0jpF3gP6lo9MNe2AIX36XVAZ3h6y8z
CtbuLFaMHc9f2jxuCzsglazAPtnBa6gNU7jqNGdUYlerJsp4AxlFbqOIUtmf8ktS
F71XkyHXAxFcElrtB2qYB5b3TTuwPGzNm9AvlUXnw8m2OMU3s3OIaR6eSAg8MN9Y
HFvVb8ZoNtG/5w7ujbRm3z5j3AIWM8v/QM4TaIQuG+s0FQP1nKECggEBANAFHcd3
NIjmlckGIXdRF25yNXyPRhsAKtKu93hsytFg4v+zts3/Myg0DpOoMZNW8OxwG/4Z
WlgvG+qDTSL9pnQN2j6TvRKs+8lzBGgCJZZc/3k0tC/LSosTYnZ/vd25vSouSC4O
KQ0zY3alyX3BeAlHtGrgxF/alrJ4K3c3tpRI4+P9a4amAV6x+JWRZTHXXFdrwOdw
X2VHgSMGZtOatwI/PbVHMl4sSwGSGA6XlLkpch2goysnuiWr/kJDrJgc4DYZQxBX
qF3tkkxeg+BCceb7KRxLlYVIj+u9wjC8aVPoSxrpamqrKaz2LMsHc40mWGbkLeO2
ierxCtIlq/yKV6kCggEBAM9zrDXE48VtH1xkkNVHUN4Q7IIELqO5gFf5NuIoO1qk
ksqhCzK/KgU1XtSa3Un+aD00QbSt7ebH3+9la/8upQFTmojUZhcUTSC3lVGgDlVn
NMxtFuDpvYvarj4GYoXmjHMozOgkVHO4sFLt3HwNkRSkaHXnVW/hAy+PhEwp938e
ST/fvC/K4yhG92vgUurWdfoYRxmQ7VP2npIro4i39XB1gXglD3UihYlj7Hi9TmSJ
bHVghHbs0mvf1mz4gLVql1p48m2GrGwom/I2qLrAiJ5D9RgzhQqdDRrmtinkJep3
l79GJFSB+Ya9IzWeLKUjScLBVqww4xLAdGgnondINNsCggEABk3BY0QHgYaLT3Yy
GW2Jqj0nxciJtVPB+HR451tUoheviVQm3AM5x6QcNPlJ108xKdkT4BVgmX+D9w1X
jxHks2ugC3lqp2A6mRY1MfmurenPjBq+wxwD/EbwGuswE8IHK3oPkeW39MBz6SqI
+picTJuxqfN5v/Xdzza5CnnTvJag4U3Srlflfrsh71ZinKoMEFIhnGHZYjZSgX82
Kn9rwFOuSQoJSrVI6JlGxVpulVXeMWumxi4EBBQ8NkHavxlQ6hLF537giUgjwNC0
al1ZGkjOLB9WPp2+TsSHV/a9sl89t2kPYoAhWS50mQp2w/Y/g46ynU3wy//V9hxS
I+sFUQKCAQBZT+yJLZ3+Jk/FIEq2d8CaCmE4TIKj3D4kIdf+H+IF0SqdcB35GBII
MgUEtTOmIpBQIUpUdjkhDVYco+aN80/4tTynwgG91/CosEDp5mWlYQx7IlAiPp9r
MZeofmk2Sp6XCa7GFrYBKDdJTLyK7/BRGcMbV6ARzabod/o2LC8wnCJfDHzhepC3
i24EFIy+K9yY8pDRsfJrHpcASSdbug9B/mTiC9qOzHD/SHTLOn0gjYWTNx1wcd7Z
sIGJYqdO83f77Gw6uStMWWNiMSQNWsy2jn1bkPqrKhg1R7SPbnjga+J558HGXDrI
Rm99Kv7/jaS44zHkahuovBChssagYgbXAoIBAFRd0FiFw2z6AiqOS4/lyTcGYuJS
IZGT9b2+wqb/ays6PjzTtNESf9Iz4JeLNqOg3vhlyUhL83nD5S5xMQUglSG8jmHi
S1wQqNLeIhNDyHMt1haapvICK77YMMRpPgekdWj3Qsqb1oYf0z7dUFCBw/eABURc
IpZZgVXEq89Z2iarVoqPpzMS8hT7QOdBWq7DzQjLU8qBs7swLbMmg+Oe4Ec+KLi/
Qez3zgTmbE+2FCJCK8RCO9xGGZRih5BtbMvyKGVKbrxwZNQ6ucm62NTKSMoAMaiL
J0Y6dD7jwYd7dDgw1VUxLMnfqmaSws8BWozT5A+mvzqHflMC3iTOo4AFhkA=
-----END RSA PRIVATE KEY-----</privateKey>
            <instanceCap>5</instanceCap>
            <timeoutMinutes>5</timeoutMinutes>
            <templates>
                <com.dubture.jenkins.digitalocean.SlaveTemplate>
                    <name>digitalSlave</name>
                    <labelString>digital-slave</labelString>
                    <idleTerminationInMinutes>10</idleTerminationInMinutes>
                    <numExecutors>1</numExecutors>
                    <labels>digital-slave</labels>
                    <imageId>172182470</imageId>
                    <sizeId>512mb</sizeId>
                    <regionId>fra1</regionId>
                    <username>root</username>
                    <workspacePath>/root/jenkins/</workspacePath>
                    <sshPort>22</sshPort>
                    <instanceCap>2</instanceCap>
                    <userData></userData>
                    <initScript></initScript>
                </com.dubture.jenkins.digitalocean.SlaveTemplate>
            </templates>
        </com.dubture.jenkins.digitalocean.Cloud>
    </clouds>
    <quietPeriod>5</quietPeriod>
    <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
    <views>
        <hudson.model.AllView>
            <owner class="hudson" reference="../../.."/>
            <name>All</name>
            <filterExecutors>false</filterExecutors>
            <filterQueue>false</filterQueue>
            <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
    </views>
    <primaryView>All</primaryView>
    <slaveAgentPort>50000</slaveAgentPort>
    <label></label>
    <nodeProperties/>
    <globalNodeProperties/>
</hudson>