Host production01
    User root
    IdentityFile ~/.ssh/id_rsa
    Hostname 46.101.103.231
Host *
    StrictHostKeyChecking no
Host dev01
   User root
   IdentityFile ~/.ssh/id_rsa
   Hostname 46.101.222.204